<div class="encounterForm-container border border-secondary border-1 rounded-2 p-3">
    <form [formGroup]="encounterForm">
        <div class="d-flex align-items-center">
            <label for="date" class="fs-5 fw-bold me-3">Дата:</label>

            <div>
                <div class="input-group position-relative datepicker">
                    <input readonly id="date" name="dp" ngbDatepicker #d="ngbDatepicker" placeholder="__.__.____" class="form-control border border-secondary border-1" formControlName="date" />
                    
                    <button class="bg-white border border-secondary border-1 rounded-end-2 bi bi-calendar3" (click)="d.toggle()" type="button"></button>
                </div>
                
                <small class="text-danger position-absolute" *ngIf="encounterForm.get('date')?.hasError('dateIsEarlier')">
                    Дата не може бути раніше за сьогоднішню!
                </small>
            </div>
        </div>
    
        <fieldset class="mt-4" formArrayName="conditions">
            <legend class="fs-5 fw-bold mb-2">Діагнози за ICPC-2</legend>
    
            <form class="row mb-2 " *ngFor="let conditionForm of getConditionsForms(); let i = index" [formGroup]="getConditionsForms()[i]">
                <app-autocomplete
                    class="col-6"
                    formControlName="condition">
                </app-autocomplete>

                <div class="col-6 ps-0">
                    <input formControlName="notes" placeholder="коментар" type="text" class="form-control border border-secondary border-1 rounded-2"/>
                </div>
            </form>

            <button class="mt-1 text-info bg-white border-0" (click)="addConditionForm()">
                + додати ще
            </button>
        </fieldset>
    
        <div class="mt-3">
            <button type="button" class="btn btn-outline-info w-100" [disabled]="encounterForm.invalid" (click)="formOutputObject()">
                Сформувати JSON
            </button>
        </div>
    </form>
    
    <div class="mt-3">
        <label class="fs-6 fw-bold" for="jsonOutput">JSON:</label>
    
        <textarea id="jsonOutput" class="form-control mt-2">{{ outputObject$ | async | json }}</textarea>
    </div>
</div>